.header {
  width: 100%;
  height: 100px;
  position: relative;
  border-bottom: 3px solid rgb(66, 79, 155);
}

.header--container {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
}

.header > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header__title {
  color: #fff;
  flex: 1;
  padding: 20px;
  font-size: 30px;
}

.header__btns {
  display: flex;
  height: 100px;
  background-color: #4647567a;
  filter: brightness(0.7);
}

.header__btns--signup span,
.header__btns--signin span {
  color: #fff;
  padding: 20px;
}

@media only screen and (max-width: 1078px) {
  .header__title > h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 756px) {
  .header,
  .header__btns {
    height: 180px;
  }
}

@media only screen and (max-width: 518px) {
  .header__title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 428px) {
  .header,
  .header__btns {
    height: 210px;
  }
}

@media only screen and (max-width: 386px) {
  .header__title > h1 {
    font-size: 28px;
  }
  .header--container {
    flex-direction: column;
  }
  .header__btns {
    height: 40px;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 325px) {
  .header__title {
    font-size: 18px;
  }
}
