.welcome {
      width:100%;
      height:100%;
}

.welcome--container {
      width:100%;
      height:100%;
      display:flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
}

.welcome>h1{
      color: rgb(66, 79, 155);
      font-size:38px;
      text-align:center;
      padding:20px;
}

.welcome--container>div {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin:50px;
}

.welcome--container>div>h2 {
      color:  rgb(187, 182, 182);
      font-sizE: 28px;
      font-weight: 500;
}

.welcome__icon {
      font-size: 5em !important;
      color: rgb(66, 79, 155);
      padding:20px;
      margin:10px;
}

@media only screen and (max-width:1078px) {
      .welcome>h1{
            font-size:30px;
      }
}