.todosContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todosContainer__heading {
  padding: 20px;
  color: rgb(187, 182, 182);
  margin-bottom: 2.5rem;
}

.todosContainer__icon {
  padding: 10px;
}

.list__item {
  border-bottom: 1px solid lightgray;
  display: flex;
  width: 100%;
  align-items: center;
}

.list__item > p {
  font-weight: 500;
  display: inline;
  padding: 20px;
  font-size: 24px;
}
.list__item--text {
  color: rgb(22, 22, 22);
  flex: 1;
}

.list__item--text.checked,
.list__item--date.checked {
  text-decoration: line-through;
  color: rgb(187, 182, 182);
}

.list__item--date {
  color: rgb(187, 182, 182);
}

.todosContainer__content {
  display: flex;
  width: 100%;
}

.todosContainer__content--list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list__item--icon,
.list__item--icon__edit {
  color: rgb(66, 79, 155);
  padding: 10px;
  font-size: 3em !important;
  margin-right: 10px;
}

.list__item--icon:hover {
  color: #ff0000;
}

.list__item--icon__edit:hover {
  color: #00ff00;
}

@media only screen and (max-width: 428px) {
.todosContainer__heading>h2 {
      font-sizE:28px;
}

}

@media only screen and (max-width: 368px) {
  .list__item--icon,
  .list__item--icon__edit {
    font-size: 2em !important;
  }
}
