.todoAdd {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.todoAdd__icon--wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.todoAdd__icon {
  font-size: 5em !important;
  color: rgb(66, 79, 155);
  padding: 20px;
  transition: 0.5s ease-out;
}

.todoAdd__icon:hover {
  transform: scale(1.07);
}

@media only screen and (max-width: 378px) {
  .todoAdd__icon {
    font-size: 4em !important;
    position: absolute;
    bottom: -20px;
    right: 0;
  }
}

@media only screen and (max-width: 325px) {
  .todoAdd__icon {
    bottom: -30px;
  }
}
