* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  width:100%;
  height:100vh;
  position: relative;
}

.modal__form {
  display:flex;
  flex-direction: column;
  padding:10px;
}

.modal__title{
  text-align: center;
  color: rgb(66, 79, 155);
}


@media only screen and (max-width:425px) {
  .modal__form {
    width:80%;
    margin: 0 auto;
  }
}